.auth__modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2ECE9;
    z-index: 99;
    width: 100%;
    height: 100vh;
}

.show {
    opacity: 0.95;
    pointer-events: all;
}

.hide {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.auth__wrap__form {
    position: relative;
    border: 2px solid black;
    height: 500px;
    width: 400px;
    padding: 1rem;
    opacity: 1;
}

.auth__wrap__btn__close {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.auth__btn__close {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 300ms ease-out;
    background: none;
    color: var(--color-dark-grey);
    border: 2px solid var(--color-dark-grey);
    transform-origin: center;
}

.auth__btn__close:hover {
    transform: rotate(180deg);
}

.auth__wrap__form__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.auth__wrap__tab {
    padding-top: 15px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--color-dark-grey);
    /* padding: 5px; */
}

.auth__wrap__tab__btn {
    width: 50%;
    background: none;
    border-radius: 0;
    color: var(--color-dark-grey)
}

.auth__wrap__tab__btn__active {
    width: 50%;
    background: var(--color-dark-grey);
    border-radius: 0;
    color: var(--color-light-white)
}

.auth__form {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 250px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 2px solid var(--color-dark-grey); */
}

.auth__form__input {
    height: 30px;
    width: 95%;
    margin: 20px 0;
    padding: 5px;
    background: none;
    color: #000;
    border: 1px solid var(--color-dark-grey);
}

.auth__form__btn {
    margin: 20px 0;
    width: 100%;
}

.auth__form__error {
    height: 30px;

}

.auth__form__error__text {
    color: red;
    text-align: center;
}

.auth__provider__btn {
    margin-top: 10px;
}