.auth__modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2ECE9;
    z-index: 99;
    width: 100%;
    height: 100vh;
    transition: opacity 400ms ease-out
}

.show {
    opacity: 0.95;
    pointer-events: all;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.auth__wrap {
    position: relative;
    border: 2px solid black;
    height: 500px;
    width: 400px;
    min-width: 320px;
    padding: 1rem;
    opacity: 1;
}

.auth__wrap__btn__close {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.auth__btn__close {
    width: 40px;
    height: 40px;
    background: none;
    color: var(--color-dark-grey);
    border: 2px solid var(--color-dark-grey);
    transform-origin: center;
    padding: 2px;
}

.auth__btn__close__x {
    display: block;
    font-weight: 600;
    transition: transform 300ms ease-out
}

.auth__btn__close__x:hover {
    transform: rotate(90deg);
}

.auth__wrap__text__toggle {
    width: 100%;
    min-height: 50px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
}

.auth__text__toggle__strong {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}