/* Color Theme Swatches in Hex */
.LOGOS-2022-1-hex {
    color: #403F3E;
}

.LOGOS-2022-2-hex {
    color: #F2ECE9;
}

.LOGOS-2022-3-hex {
    color: #8C8987;
}

.LOGOS-2022-4-hex {
    color: #BFBCBA;
}

.LOGOS-2022-5-hex {
    color: #0D0D0D;
}

/* Color Theme Swatches in RGBA */
.LOGOS-2022-1-rgba {
    color: rgba(63, 63, 61, 1);
}

.LOGOS-2022-2-rgba {
    color: rgba(242, 236, 232, 1);
}

.LOGOS-2022-3-rgba {
    color: rgba(140, 136, 134, 1);
}

.LOGOS-2022-4-rgba {
    color: rgba(191, 187, 185, 1);
}

.LOGOS-2022-5-rgba {
    color: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in HSLA */
.LOGOS-2022-1-hsla {
    color: hsla(39, 1, 24, 1);
}

.LOGOS-2022-2-hsla {
    color: hsla(22, 27, 93, 1);
}

.LOGOS-2022-3-hsla {
    color: hsla(22, 2, 53, 1);
}

.LOGOS-2022-4-hsla {
    color: hsla(22, 4, 73, 1);
}

.LOGOS-2022-5-hsla {
    color: hsla(0, 0, 5, 1);
}

/* Color Theme Swatches in Hex */
.RM-Mono-Typeface-1-hex {
    color: #97A0A6;
}

.RM-Mono-Typeface-2-hex {
    color: #458C78;
}

.RM-Mono-Typeface-3-hex {
    color: #6DF2C1;
}

.RM-Mono-Typeface-4-hex {
    color: #56BF99;
}

.RM-Mono-Typeface-5-hex {
    color: #0D0D0D;
}

/* Color Theme Swatches in RGBA */
.RM-Mono-Typeface-1-rgba {
    color: rgba(150, 160, 165, 1);
}

.RM-Mono-Typeface-2-rgba {
    color: rgba(68, 140, 119, 1);
}

.RM-Mono-Typeface-3-rgba {
    color: rgba(109, 242, 193, 1);
}

.RM-Mono-Typeface-4-rgba {
    color: rgba(86, 191, 152, 1);
}

.RM-Mono-Typeface-5-rgba {
    color: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in HSLA */
.RM-Mono-Typeface-1-hsla {
    color: hsla(202, 7, 62, 1);
}

.RM-Mono-Typeface-2-hsla {
    color: hsla(163, 34, 40, 1);
}

.RM-Mono-Typeface-3-hsla {
    color: hsla(157, 83, 68, 1);
}

.RM-Mono-Typeface-4-hsla {
    color: hsla(157, 45, 54, 1);
}

.RM-Mono-Typeface-5-hsla {
    color: hsla(0, 0, 5, 1);
}